@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url(../fonts/Bahij_TheSansArabic-SemiLight.tff);
    src: url(../fonts/Bahij_TheSansArabic-SemiLight.tff);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url(../fonts/Bahij_TheSansArabic-SemiBold.ttf);
    src: url(../fonts/Bahij_TheSansArabic-SemiBold.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url(../fonts/Bahij_TheSansArabic-Bold.ttf);
    src: url(../fonts/Bahij_TheSansArabic-Bold.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url(../fonts/Bahij_TheSansArabic-ExtraBold.ttf);
    src: url(../fonts/Bahij_TheSansArabic-ExtraBold.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Bahij_TheSansArabic";
    src: url(../fonts/Bahij_TheSansArabic-Black.ttf);
    src: url(../fonts/Bahij_TheSansArabic-Black.ttf);
    font-weight: 700;
    font-style: normal;
}
