@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Cerebri Sans";
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    src: url(../fonts/Adobe-Naskh-Medium.ttf);
    font-weight: 700;
    font-style: normal;
}
